<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Путешествия</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .card {
            flex: 0 0 calc(33.333% - 20px);
        }
        .add-button {
            margin-top: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body class="container-md">
<h1>Список путешествий</h1>

<div class="card-container">
    <div th:each="journey : ${journeys}">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="${journey.country}"> Country</h5>
                <p class="card-text" th:text="${journey.town}">Town</p>
                <a th:href="@{/journeys/{id}(id=${journey.id})}">Подробнее</a>
                <a th:href="@{/journeys/update/{id}(id=${journey.id})}">Изменить</a>
                <a th:href="@{/journeys/delete/{id}(id=${journey.id})}">Удалить</a>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-secondary add-button" th:href="@{/journeys/new}">Добавить путешествие</a>
<a class="btn btn-secondary add-button" th:href="@{/travel-agencies}">Тур агентства</a>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
