<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Путешествия</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        .add-button {
            margin-top: 20px;
            margin-right: 20px;
        }
    </style>
</head>
<body class="container-md">

<form th:method="POST"
      th:action="@{/travel-agencies/new}"
      th:object="${agency}">

    <div class="mb-3">
        <label for="name" class="form-label">Название туристического агентства:</label>
        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Название туристического агентства">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name</div>
    </div>
    <input class="btn btn-success" type="submit" value="Создать"/>
</form>
<a class="btn btn-secondary add-button" th:href="@{/travel-agencies}">Вернуться домой</a>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
